<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>


    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>


    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>


    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>


    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>

    <!--页面-->
    名称：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="立即抢购"/>
</body>
</html>