<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>搜索列表页(搜索商家)</title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/shopping-mall-index.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/zhonglin.js"></script>
</head>

<body>

<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
        <ul class="t-con-r f-r">
            <li><a href="#">我 (个人中心)</a></li>
            <li><a href="#">我的购物车</a></li>
            <li><a href="#">我的订单</a></li>
            <li class="erweima">
                <a href="#">扫描二维码</a>
                <div class="ewm-tu">
                    <a href="#"><img src="images/erweima-tu.jpg" /></a>
                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="#" title="中林网站"><img src="images/logo.jpg" /></a></h1>
    </div>
    <div class="dianji f-r">
        <div class="btn1">
            <button class="btn1-l">注册</button>
            <button class="btn1-r">登录</button>
            <div style="clear:both;"></div>
        </div>
        <button class="btn2">商家入口    ></button>
    </div>
    <div class="search f-r">
        <ul class="sp">
            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
            <li ss-search="dp"><a href="JavaScript:;">店铺</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="srh">
            <div class="ipt f-l">
                <input type="text" placeholder="搜索商品..." ss-search-show="sp" />
                <input type="text" placeholder="搜索店铺..." ss-search-show="dp" style="display:none;" />
            </div>
            <button class="f-r">搜 索</button>
            <div style="clear:both;"></div>
        </div>
        <ul class="sp2">
            <li><a href="#">绿豆</a></li>
            <li><a href="#">大米</a></li>
            <li><a href="#">驱蚊</a></li>
            <li><a href="#">洗面奶</a></li>
            <li><a href="#">格力空调</a></li>
            <li><a href="#">洗发护发</a></li>
            <li><a href="#">葡萄 </a></li>
            <li><a href="#">脉动</a></li>
            <li><a href="#">海鲜水产</a></li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div style="clear:both;"></div>
</div>

<!--切换城市-->
<div class="switch-city w1200">
    <a href="#" class="dianji-qh">切换城市</a>
    <span class="dqm">重庆市</span>
    <div class="select-city">
        <div class="sl-city-top">
            <p class="f-l">切换城市</p>
            <a class="close-select-city f-r" href="#">
                <img src="images/close-select-city.gif" />
            </a>
        </div>
        <div class="sl-city-con">
            <p>西北</p>
            <dl>
                <dt>重庆市</dt>
                <dd>
                    <a href="#">长寿区</a>
                    <a href="#">巴南区</a>
                    <a href="#">南岸区</a>
                    <a href="#">九龙坡区</a>
                    <a href="#">沙坪坝区</a>
                    <a href="#">北碚</a>
                    <a href="#">江北区</a>
                    <a href="#">渝北区</a>
                    <a href="#">大渡口区</a>
                    <a href="#">渝中区</a>
                    <a href="#">万州</a>
                    <a href="#">武隆</a>
                    <a href="#">晏家</a>
                    <a href="#">长寿湖</a>
                    <a href="#">云集</a>
                    <a href="#">华中</a>
                    <a href="#">林封</a>
                    <a href="#">双龙</a>
                    <a href="#">石回</a>
                    <a href="#">龙凤呈祥</a>
                    <a href="#">朝天门</a>
                    <a href="#">中华</a>
                    <a href="#">玉溪</a>
                    <a href="#">云烟</a>
                    <a href="#">红塔山</a>
                    <a href="#">真龙</a>
                    <a href="#">天子</a>
                    <a href="#">娇子</a>
                </dd>

                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>新疆</dt>
                <dd>
                    <a href="#">齐乌鲁木</a>
                    <a href="#">昌吉</a>
                    <a href="#">巴音</a>
                    <a href="#">郭楞</a>
                    <a href="#">伊犁</a>
                    <a href="#">阿克苏</a>
                    <a href="#">喀什</a>
                    <a href="#">哈密</a>
                    <a href="#">克拉玛依</a>
                    <a href="#">博尔塔拉</a>
                    <a href="#">吐鲁番</a>
                    <a href="#">和田</a>
                    <a href="#">石河子</a>
                    <a href="#">克孜勒苏</a>
                    <a href="#">阿拉尔</a>
                    <a href="#">五家渠</a>
                    <a href="#">图木舒克</a>
                    <a href="#">库尔勒</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>甘肃</dt>
                <dd>
                    <a href="#">兰州</a>
                    <a href="#">天水</a>
                    <a href="#">巴音</a>
                    <a href="#">白银</a>
                    <a href="#">庆阳</a>
                    <a href="#">平凉</a>
                    <a href="#">酒泉</a>
                    <a href="#">张掖</a>
                    <a href="#">武威</a>
                    <a href="#">定西</a>
                    <a href="#">金昌</a>
                    <a href="#">陇南</a>
                    <a href="#">临夏</a>
                    <a href="#">嘉峪关</a>
                    <a href="#">甘南</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>宁夏</dt>
                <dd>
                    <a href="#">银川</a>
                    <a href="#">吴忠</a>
                    <a href="#">石嘴山</a>
                    <a href="#">中卫</a>
                    <a href="#">固原</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>青海</dt>
                <dd>
                    <a href="#">西宁</a>
                    <a href="#">海西</a>
                    <a href="#">海北</a>
                    <a href="#">果洛</a>
                    <a href="#">海东</a>
                    <a href="#">黄南</a>
                    <a href="#">玉树</a>
                    <a href="#">海南</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
        </div>
    </div>
</div>

<!--nav 开始-->
<div style="border-bottom:2px solid #F09E0B;">
    <div class="nav w1200">
        <a href="JavaScript:;" class="sp-kj" kj="">
            商品分类快捷
        </a>
        <div class="kj-show2 none" kj-sh="">
            <div class="kj-info1" mg="shiping">
                <dl class="kj-dl1">
                    <dt><a href="#">食品/饮料/酒水</a></dt>
                    <dd>
                        零食/糖果/巧克力、饼干/糕点、生鲜<br />
                        酒水饮料/乳饮料、调味/速食<br />
                        粮油/干货、冲调制品
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="shiping">
                    <dl>
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                        <dt>零食/糖果/巧克力</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="muying">
                <dl class="kj-dl1">
                    <dt><a href="#">母婴用品/玩具</a></dt>
                    <dd>
                        奶粉/辅食、尿裤/湿巾、玩具<br />
                        宝宝喂养/洗护清洁
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="muying">
                    <dl>
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">巧克力</a>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">巧克力</a>
                            <a href="#">巧克力</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">巧克力</a>
                            <a href="#">膨化食品</a>
                            <a href="#">口香糖</a>
                            <a href="#">巧克力</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">巧克力</a>
                            <a href="#">膨食品</a>
                            <a href="#">糖克力/口香糖</a>
                            <a href="#">肉品</a>
                            <a href="#">巧克力</a>
                            <a href="#">进口食品</a>
                            <a href="#">巧克力</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">巧克力</a>
                            <a href="#">坚果线</a>
                            <a href="#">巧克力</a>
                            <a href="#">膨食品</a>
                            <a href="#">果冻/克口香糖</a>
                            <a href="#">巧克力</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">巧克力</a>
                            <a href="#">进食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">迷线</a>
                            <a href="#">巧克力</a>
                            <a href="#">膨化品</a>
                            <a href="#">巧克力</a>
                            <a href="#">糖果力/口香糖</a>
                            <a href="#">巧克力</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                        <dt>母婴用品/玩具</dt>
                        <dd>
                            <a href="#">迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果克力/口香糖</a>
                            <a href="#">肉类/熟品</a>
                            <a href="#">进食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="chuju">
                <dl class="kj-dl1">
                    <dt><a href="#">厨具餐具/家用清洁/纸品</a></dt>
                    <dd>
                        纸品湿巾、衣物清洁护理、家庭清洁<br />
                        清洁、厨具、烹饪用具/厨房配件<br />
                        食物保鲜容器
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="chuju">
                    <dl>
                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>

                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                        <dt>厨具餐具</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="meizhuang">
                <dl class="kj-dl1">
                    <dt><a href="#">美妆洗护/个人护理洗发护发</a></dt>
                    <dd>
                        洗浴用品/身体护理、口腔护理、面部护肤<br />
                        女性护理、彩妆/美容工具、男士护理
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="meizhuang">
                    <dl>
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                        <dt>美妆洗护</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" style="border-bottom:none;" mg="jiafang">
                <dl class="kj-dl1" style="padding:6px 10px;">
                    <dt><a href="#">家居/家纺</a></dt>
                    <dd>
                        浴室用品、餐具水具<br />
                        收纳/居家日用、针织纺品
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="jiafang">
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>

                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                        <dt>家居/家纺</dt>
                        <dd>
                            <a href="#">坚果迷线</a>
                            <a href="#">膨化食品</a>
                            <a href="#">糖果果冻/巧克力/口香糖</a>
                            <a href="#">肉类/熟食食品</a>
                            <a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
        </div>
        <ul>
            <li><a href="#">在线商城</a></li>
            <li><a href="#">餐饮娱乐</a></li>
            <li><a href="#">家政服务</a></li>
            <li><a href="#">美容美发</a></li>
            <li><a href="#">教育培训</a></li>
            <li><a href="#">汽车房产</a></li>
            <li><a href="#">家居建材</a></li>
            <li><a href="#">二手市场</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--内容开始-->
<!--筛选结果-->
<div class="screening-results w1200">
    <p class="tiao">找到共 233 条</p>
    <div class="results">
        <p class="re-p1 f-l">
            全部结果：零食 > <span>品牌：三只松鼠　X　</span>　>
        </p>
        <div class="re-search f-l">
            <input type="text" placeholder="三只松鼠" class="f-l" />
            <button></button>
            <div style="clear:both;"></div>
        </div>
        <p class="re-p2 f-r">
            <a href="#">清空筛选条件</a>
        </p>
        <div style="clear:both;"></div>
    </div>
</div>
<!--品牌-->
<div class="sj-brand">
    <div class="sj-br-l f-l">
        <img src="images/sj-pingpai-tu.gif" />
    </div>
    <div class="sj-br-m f-l">
        <h3>三只松鼠旗舰店</h3>
        <p>三只松鼠，互联网坚果销量冠军品牌，致力于生产天然新鲜、非过度加工的健康食品</p>
    </div>
    <div class="sj-br-r f-r">
        <a href="#">进店逛逛<br />></a>
    </div>
    <div style="clear:both;"></div>
</div>
<!--品牌热销-->
<div class="brand-sales">
    <dl>
        <dt>本品牌热销</dt>
        <dd>
            <a href="#">坚果礼品</a>
            <a href="#">碧根果</a>
            <a href="#">松子</a>
            <a href="#">夏威夷果</a>
            <a href="#">核桃</a>
            <a href="#">葡萄干</a>
            <a href="#">花生</a>
            <a href="#">豆类制品</a>
            <a href="#">杏仁</a>
            <a href="#">枣类</a>
            <a href="#">瓜子</a>
            <a href="#">其他坚果</a><a href="#">坚果礼品</a>
            <a href="#">碧根果</a>
            <a href="#">松子</a>
            <a href="#">夏威夷果</a>
            <a href="#">核桃</a>
            <a href="#">葡萄干</a>
            <a href="#">花生</a>
            <a href="#">豆类制品</a>
            <a href="#">杏仁</a>
            <a href="#">枣类</a>
            <a href="#">瓜子</a>
            <a href="#">其他坚果</a>
            <a href="#">坚果礼品</a>
            <a href="#">碧根果</a>
            <a href="#">松子</a>
            <a href="#">夏威夷果</a>
            <a href="#">核桃</a>
            <a href="#">葡萄干</a>
            <a href="#">花生</a>
            <a href="#">豆类制品</a>
            <a href="#">杏仁</a>
            <a href="#">枣类</a>
            <a href="#">瓜子</a>
            <a href="#">其他坚果</a>
            <a href="#">坚果礼品</a>
            <a href="#">碧根果</a>
            <a href="#">松子</a>
            <a href="#">夏威夷果</a>
            <a href="#">核桃</a>
            <a href="#">葡萄干</a>
            <a href="#">花生</a>
            <a href="#">豆类制品</a>
            <a href="#">杏仁</a>
            <a href="#">枣类</a>
            <a href="#">瓜子</a>
            <a href="#">其他坚果</a>
        </dd>
        <div style="clear:both;"></div>
    </dl>
    <dl style="border-bottom:none;">
        <dt>大家都在选</dt>
        <dd>
            <a href="#">坚果礼品</a>
            <a href="#">碧根果</a>
            <a href="#">松子</a>
            <a href="#">夏威夷果</a>
            <a href="#">核桃</a>
            <a href="#">葡萄干</a>
            <a href="#">花生</a>
            <a href="#">豆类制品</a>
            <a href="#">杏仁</a>
            <a href="#">枣类</a>
            <a href="#">瓜子</a>
            <a href="#">其他坚果</a>
        </dd>
        <div style="clear:both;"></div>
    </dl>
</div>

<!--内容↓↑-->
<div class="shop-page-con w1200">
    <div class="shop-pg-left f-l" style="width:215px">
        <div class="shop-left-buttom" style="margin-top:0;">
            <div class="sp-tit1">
                <h3>商品推荐</h3>
            </div>
            <ul class="shop-left-ul">
                <li>
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/sp-con-r-tu.gif" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">德国原装进口Wurenbacher瓦伦冰黑啤5L/桶</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">微克宅购自营</p>
                </li>
                <li>
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/sp-con-r-tu.gif" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">德国原装进口Wurenbacher瓦伦冰黑啤5L/桶</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">微克宅购自营</p>
                </li>
                <li style="border-bottom:0;">
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/sp-con-r-tu.gif" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">德国原装进口Wurenbacher瓦伦冰黑啤5L/桶</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">微克宅购自营</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-pg-right f-r">
        <div class="shop-right-cmp" style="margin-top:0;">
            <ul class="shop-cmp-l f-l">
                <li class="current"><a href="#">综合 ↓</a></li>
                <li><a href="#">销量 ↓</a></li>
                <li><a href="#">新品 ↓</a></li>
                <li><a href="#">评价 ↓</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div class="shop-cmp-m f-l">
                <span>价格</span><input type="text" /><span>-</span><input type="text" />
            </div>
            <div class="shop-cmp-r f-l">
                <ul class="f-l">
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>包邮</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>进口</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>仅显示有货</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>满赠</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>满减</span>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <button>确定</button>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="shop-right-con">
            <ul class="shop-ul-tu shop-ul-tu1">
                <li th:each="product : ${list}">
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/sp-con-r-tu.gif" th:src="${product.images}"/></a>
                        <p class="jiage">￥<span class="sp1" th:text="|${product.price}|">￥109</span><span class="sp2">￥999999</span></p>
                    </div>
                    <p class="miaoshu" th:text="${product.name}">德国原装进口Wurenbacher瓦伦冰黑啤5L/桶</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">8888888评价</p>
                    <p class="weike">微克宅购自营</p>
                </li>

                <div style="clear:both;"></div>
            </ul>

            <!--分页-->
            <div class="paging">
                <div class="pag-left f-l">
                    <a href="#" class="about left-r f-l"><</a>
                    <ul class="left-m f-l">
                        <li><a href="#">1</a></li>
                        <li class="current"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">100</a></li>
                        <div style="clear:both;"></div>
                    </ul>
                    <a href="#" class="about left-l f-l">></a>
                    <div style="clear:both;"></div>
                </div>
                <div class="pag-right f-l">
                    <div class="jump-page f-l">
                        到第<input type="text" />页
                    </div>
                    <button class="f-l">确定</button>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

<!--底部服务-->
<div class="ft-service">
    <div class="w1200">
        <div class="sv-con-l2 f-l">
            <dl>
                <dt><a href="#">新手上路</a></dt>
                <dd>
                    <a href="#">购物流程</a>
                    <a href="#">在线支付</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">配送方式</a></dt>
                <dd>
                    <a href="#">货到付款区域</a>
                    <a href="#">配送费标准</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd>
                    <a href="#">常见问题</a>
                    <a href="#">订购流程</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">售后服务</a></dt>
                <dd>
                    <a href="#">售后服务保障</a>
                    <a href="#">退款说明</a>
                    <a href="#">新手选购商品总则</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">关于我们</a></dt>
                <dd>
                    <a href="#">投诉与建议</a>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </div>
        <div class="sv-con-r2 f-r">
            <p class="sv-r-tle">187-8660-5539</p>
            <p>周一至周五9:00-17:30</p>
            <p>（仅收市话费）</p>
            <a href="#" class="zxkf">24小时在线客服</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<!--底部 版权-->
<div class="footer w1200">
    <p>
        <a href="#">关于我们</a><span>|</span>
        <a href="#">友情链接</a><span>|</span>
        <a href="#">宅客微购社区</a><span>|</span>
        <a href="#">诚征英才</a><span>|</span>
        <a href="#">商家登录</a><span>|</span>
        <a href="#">供应商登录</a><span>|</span>
        <a href="#">热门搜索</a><span>|</span>
        <a href="#">宅客微购新品</a><span>|</span>
        <a href="#">开放平台</a>
    </p>
    <p>
        沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
    </p>
</div>

</body>
</html>
